.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FD841F;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 520px;
  width: 100%;
}

.name {
  color: white;
  margin-top: 0;
}

.profilePic {
  margin-top: 90px;
}

@media only screen and (min-width: 1024px) {

  .profile {
  float: left;
  width: 33.3%;
  margin-left: 2em;
  margin-top: 10em;
  height: 450px;
  }

  .profilePic {
  margin-top: 60px;
  }

}