.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f49444;
  color: white;
  height: 120px;
  padding: 0 1.5em;
  position: fixed;
  width: 100%;
}

.brandName {
  font-size: 1.5em;
  font-family: 'Bungee';
}

.writeNewTweet {
  font-family: 'Source Sans Pro';
  padding: 50px 0;
  position: absolute;
  right: 1.5em;
}

.doubleDownArrow {
  color: red;
  position: absolute;
  right: 4.5em;
  padding-top: 60px;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    background-color: #4056A1;
  }
} 