section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.errorText {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 5px solid red;
  color: red;
  display: none;
  font-weight: 600;
  margin-bottom: 10px;
}

.newTweetTop {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid;
  font-weight: 600;
}

.newTweetBottom {
  font-family: "Bungee";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.tweetButton {
  background-color: #4056A1;
  color: white;
}